{% load socialaccount %}
{% providers_media_js %}
{% load staticfiles %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


        <style>
        .center{
            display: table; margin-left: auto; margin-right: auto; 
        
            font-size: 15px;
        }
        </style>

</head>


<body>
    <nav class="navbar navbar-dark bg-dark">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/">EJ's Blog</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/blog/new">New</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% static 'why.pdf' %}">Certification of EJ</a>
                    </li>
                    
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                </div>
            </nav>
    </nav>
    <br><br>

    
    <div class=container>
        <div class="jumbotron">
            <h1 class="display-4">Hello, Eunjin's Django Blog</h1>
            <p class="lead">This is a simple blog app. And it's also eunjin's first heroku utility django python project.</p>
            <hr class="my-4">
            <p>It uses utility classes for Login.</p>
            {% if user.is_authenticated %}
            <a class="btn btn-success" href="/accounts/logout" role="button">LogOut</a>
            {{user.username}}님이 로그인 중
            {% else %}
            <a class="btn btn-success" href="/accounts/signup" role="button">SignUp</a>
            <a class="btn btn-success" href="{% provider_login_url 'google' %}" role="button">Google로 Login</a>
            {% endif %}
        </div>
        <hr>


        <div class="alert alert-success" role="alert">
           Here are many writings. Do you want some? <a href="/blog/new" class="alert-link">Go to New Writing</a>. Give it a click if you like.
        </div>

<div class="center">
<table class="table table-hover" style="width:1000px;">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">TITLE</th>
        <th scope="col">CONTENT</th>
        <th scope="col">TIME</th>

        </tr>
    </thead>

    <tbody>
        {% for blog in posts %}
        <tr>
        <th scope="row">{{blog.number}}</th>
        <td><a href="{% url 'detail' blog.id %}" >{{blog.title}}</a></td>
        <td>{{blog.summary}}</td>
        <td>{{blog.pub_date}}</td>

        </tr>
        {% endfor %}
        
    </tbody>
</table>

        <a class="btn btn-primary" href="/blog/new/" role="button"style="float: right;">Write New</a>

<br><br>
<div class="center">
    <nav aria-label="Page navigation example" style="font-size:10px;">
        <ul class="pagination">
            {% if posts.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{posts.previous_page_number}}">Previous</a></li>
            {% endif %}
            

            <li class="page-item"><a class="page-link" href="#">{{ posts.number }}</a></li>
            <li class="page-item"><a class="page-link" href="#">of</a></li>
            <li class="page-item"><a class="page-link" href="?page={{posts.paginator.num_pages}}">{{posts.paginator.num_pages}}</a></li>
            {% if posts.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{posts.next_page_number}}">Next</a></li>
            {% endif %}

        </ul>
    </nav>
</div>    
</div>
</body>